:root {
  --primary-color: #C868E2;
  --secondary-color: #572852;
  --tertiary-color: #411D3D;
  --shaded-color-0: #201B21;
  --shaded-color-1: #28202A;
  --shaded-color-2: #2F2831;
  --shaded-color-3: #352D37;
  --shaded-color-3a: #362e38;
  --shaded-color-4: #493E4B;
  --shaded-color-5: #7B7B7B;
  --shaded-color-5a: #b8b8b8;
  --shaded-color-6: #FFFFFF;
  --banner-height: 45px;
}

* {
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--shaded-color-4);
  display: flex;
  flex-direction: row;
}

.no-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}