:root {
  --primary-color: #C868E2;
  --secondary-color: #572852;
  --tertiary-color: #411D3D;
  --shaded-color-0: #201B21;
  --shaded-color-1: #28202A;
  --shaded-color-2: #2F2831;
  --shaded-color-3: #352D37;
  --shaded-color-3a: #362e38;
  --shaded-color-4: #493E4B;
  --shaded-color-5: #7B7B7B;
  --shaded-color-6: #FFFFFF;

  --banner-height: 45px;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: var(--shaded-color-4);
  display: flex;
  flex-direction: row;
}