/* content container */

main {
    width: calc(100vw - 310px);
    height: 100%;
    background-color: var(--shaded-color-4);
}

/* content banner */

#content-banner {
    width: 100%;
    height: var(--banner-height);
    box-shadow: 0 3px 2px -1px var(--shaded-color-0);
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

#content-banner p {
    color: #fff;
    font-size: 18px;
    padding-left: 8px;
}

/* content (messages) */

/* content input */