/* content container */

main {
    width: calc(100vw - 310px);
    height: 100%;
    background-color: var(--shaded-color-3);
}

/* content banner */

#content-banner {
    width: 100%;
    height: var(--banner-height);
    box-shadow: 0 3px 2px -1px var(--shaded-color-0);
    display: flex;
    align-items: center;
    color: #fff;
}

#content-banner>* {
    padding-left: 12px;
}

#channel-type-icon {
    color: var(--shaded-color-1);
    font-weight: 500;
    font-size: 28px;
}

#channel-name {
    font-size: 18px;
}

#channel-description {
    font-size: 16px;
    color: var(--shaded-color-5a);
}

/* content */

#main-content {
    width: calc(100% - 50px);
    margin: 0px 25px 25px 25px;
    height: calc(100vh - var(--banner-height) - 25px);
}

#main-content ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    float: bottom;
}

#main-content li {
    margin-top: 25px;
    width: 100%;
}

/* content input */

#input-container {
    width: 100%;
}

#input-container {
    border-radius: 10px;
}

#input-container div,
#input-container input {
    width: 100%;
    height: 40px;
    border: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--shaded-color-4);
}

#input-container input {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#input-container div {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* content (messages) */

.message-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.message-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.message-container > div {
    margin-left: 15px;
}

.message-top {
    display: flex;
}

.message-top p {
    margin: 0px;
}

.message-username {
    color: var(--shaded-color-6)
}

.message-times {
    margin-left: 10px !important;
    color: var(--shaded-color-5);
}

.message-content {
    color: var(--shaded-color-6);
}

.message-content p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.usertag {
    font-weight: bol;
    padding: 2px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.usertag:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}