aside {
    width: 310px;
    height: 100%;
    background-color: var(--shaded-color-0);
    display: flex;
    flex-direction: row;
}

/* server list */
#server-list {
    width: 60px;
    height: 100%;
    background-color: var(--shaded-color-0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#server-list img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-top: 8px;
    border-radius: 10px;
}

#eridium-logo {
    border-bottom: 1px solid var(--shaded-color-6);
    padding-bottom: 4px;
}

/* content list */
#content-list {
    width: 250px;
    height: 100%;
    background-color: var(--shaded-color-2);
}

#server-banner {
    width: 100%;
    height: var(--banner-height);
    box-shadow: 0 4px 2px -1px var(--shaded-color-0);
    display: flex;
    align-items: center;
}

#server-banner p {
    color: #fff;
    font-size: 18px;
    padding-left: 8px;
}