aside {
    width: 310px;
    height: 100%;
    background-color: var(--shaded-color-0);
    display: flex;
    flex-direction: row;
}

/* server list */

#server-list {
    width: 60px;
    height: 100%;
    background-color: var(--shaded-color-0);
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

#server-list a {
    width: 45px;
    height: 45px;
    margin-top: 8px;
}

#server-list img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 10px;
}

#eridium-logo {
    margin-top: 8px;
    border-bottom: 1px solid var(--shaded-color-6);
    padding-bottom: 4px;
}

/* content list */

#content-list {
    width: 250px;
    height: 100%;
    background-color: var(--shaded-color-2);
}

#server-banner {
    width: 100%;
    height: var(--banner-height);
    color: #fff;
    box-shadow: 0 3px 2px -1px var(--shaded-color-0);
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

#server-banner:hover {
    background-color: var(--shaded-color-3a);
    cursor: pointer;
}

#server-banner p {
    width: 200px;
    font-size: 18px;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#server-banner span {
    margin-right: 8px;
}