.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
}

.inputContainer {
    border: 1px solid #8D8D8E;
    border-radius: 4px;
}

.styledForm {
    display: flex;
    height: 42px;
    align-items: center;
    padding-left: 10px;
}

.styledInput {
    flex: 1;
    border: none;
    font-size: 13px;
}

input:focus {
    outline: none;
}

.sendButton {
    border-radius: 2px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
}