.parentContainer {
    display: grid;
    grid-template-rows: 65px auto min-content;
}

.header {
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(224, 202, 240, 0.13);
    justify-content: space-between;
}

.channelName {
    font-weight: 670;
}

.channelInfo {
    font-weight: 350;
    color: #5f5b5b;
    font-size: 12px;
    margin-top: 10px;
}

.channelDetails {
    display: flex;
    align-items: center;
    color: #5f5b5b;
}