/* content container */

main {
    width: calc(100vw - 310px);
    height: 100%;
    background-color: var(--shaded-color-3);
}

/* content banner */

#content-banner {
    width: 100%;
    height: var(--banner-height);
    box-shadow: 0 3px 2px -1px var(--shaded-color-0);
    background-color: var(--shaded-color-3);
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 10;
}

#content-banner>* {
    padding-left: 12px;
}

#content-banner>*:last-child {
    margin-right: 10px;
}

#channel-type-icon {
    color: var(--shaded-color-1);
    font-weight: 500;
    font-size: 28px;
}

#channel-name {
    font-size: 18px;
    white-space: nowrap;
}

#channel-description {
    font-size: 16px;
    color: var(--shaded-color-5a);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* content */

#main-content {
    width: 100%;
    padding: 0px 0px 25px 0px;
    height: calc(100vh - var(--banner-height) - 25px);
}

#main-content ul {
    height: calc(100% - 80px - 25px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    float: bottom;
    scrollbar-width: thin;
    scrollbar-color: var(--shaded-color-0) rgba(255,255,255,0);
}

#main-content li {
    margin-top: 20px;
    width: calc(100% - 50px);
    padding: 5px 25px;
    z-index: 1;
}

#main-content li:hover {
    background-color: var(--shaded-color-4a);
}

#main-content li:first-child:hover {
    background-color: var(--shaded-color-3) !important;
}

/* content input */

#input-container {
    position: absolute;
    bottom: 25px;
    padding: 0px 25px;
    width: calc(100vw - 310px - 50px);
}

#input-container {
    border-radius: 10px;
}

#input-container>div, #input-container textarea {
    font-size: 16px;
    color: var(--shaded-color-6);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--shaded-color-4);
}

#input-container textarea {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: calc(100% - 40px);
    line-height: 50%;
    padding: 20px 20px 0px 20px;
    margin-bottom: -1px;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: var(--shaded-color-0) rgba(255,255,255,0);
    white-space: nowrap;
    overflow-y: hidden;
}

#input-container > div {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: calc(100%);
    padding: 0px;
    height: 40px;
}

#selectables {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#selectables>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: var(--shaded-color-5);
}

#selectables>div:hover {
    background-color: var(--shaded-color-5a);
    cursor: pointer;
    border-radius: 4px;
}

#selectables .material-icons {
    font-size: 18px;
}

/* content (messages) */

.message-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.message-profile-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.message-profile-pic:hover {
    cursor: pointer;
}

.message-container>div {
    margin-left: 15px;
}

.message-top {
    display: flex;
    flex-wrap: wrap;
}

.message-top p {
    margin: 0px;
}

.message-username {
    font-weight: 600;
    margin-right: 10px !important;
    color: var(--shaded-color-6)
}

.message-username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.message-times {
    color: var(--shaded-color-5);
}

.message-times span {
    white-space: nowrap;
}

.message-content {
    color: var(--shaded-color-6);
}

.message-content p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.image-name {
    color: var(--shaded-color-5);
}

.message-content img {
    margin-top: 5px;
    max-width: 100%;
}

.usertag {
    padding: 2px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 4px;
}

.usertag:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}