.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--shaded-color-0);
}

.form {
    padding: 25px;
    position: absolute;
    width: 600px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--shaded-color-6);
    background-color: var(--shaded-color-3);
    border-radius: 10px;
}

.form h3 {
    font-weight: 400;
    font-size: 20px;
}

.form-inputs {
    width: 100%;
    margin-top: 15px;
}

.form-inputs > * {
    width: 100%;
    font-size: 18px;
}

.form-inputs input {
    display: inline-block;
    margin: 8px 0;
    border: 0px;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    color: var(--shaded-color-5a);
    background: var(--shaded-color-4);
}

.form-redirect {
    width: 100%;
    text-align: left;
    color: var(--shaded-color-5);
    line-height: 2;
    font-size: 18px;
}

.form-redirect a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
}

.form-input-btn {
    color: var(--shaded-color-4);
    background: var(--primary-color);
    font-size: 18px;
    padding: 8px 50px;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
    border: none;
}

@media only screen and (max-width: 600px) {
    .form {
        max-width: 80vw;
    }
}