aside {
    width: 310px;
    height: 100%;
    background-color: var(--shaded-color-0);
    display: flex;
    flex-direction: row;
}

/* server list */

#server-list {
    width: 60px;
    height: 100%;
    background-color: var(--shaded-color-0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#server-list .server-icon {
    width: 45px;
    height: 45px;
    margin-top: 8px;
    border: 2px solid var(--shaded-color-0);
    border-radius: 12px;
    padding: 1px;
}

#server-list .server-icon:hover {
    border-color: var(--shaded-color-5);
}

#server-list #active-server {
    border-color: var(--primary-color) !important;
}

#server-list img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 10px;
}

#eridium-logo {
    margin-top: 8px;
    border-bottom: 1px solid var(--shaded-color-5a);
    padding-bottom: 4px;
}

/* content list */

#content-list {
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--shaded-color-2);
}

/* banner */

#server-banner {
    width: 100%;
    height: var(--banner-height);
    color: #fff;
    box-shadow: 0 3px 2px -1px var(--shaded-color-0);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#server-banner:hover {
    background-color: var(--shaded-color-3a);
}

#server-banner-button {
    height: 100%;
    display: flex;
    align-items: center;
}

#server-banner-button:hover {
    cursor: pointer;
}

#server-banner p {
    width: 200px;
    font-size: 18px;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#server-banner span {
    margin-right: 8px;
}

#server-banner-dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 90%;
    border-radius: 5px;
    margin-top: var(--banner-height);
    padding: calc(0.05 * (250px / 2));
    background-color: var(--shaded-color-1a);
}

#server-banner-dropdown>button {
    width: 100%;
    height: var(--banner-height);
    color: var(--shaded-color-6);
    background-color: var(--shaded-color-1a);
    border: none;
    border-radius: 5px;
    margin: 0px;
    padding-left: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

#server-banner-dropdown>hr {
    width: 95%;
    height: 1px;
    margin: 8px 0px;
    border: none;
    border-radius: 0;
    background-color: var(--shaded-color-6);
}

#server-banner-dropdown>button:first-child {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

#server-banner-dropdown>button:last-child {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    color: var(--warning-color);
}

#server-banner-dropdown>button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

#server-banner-dropdown>button:last-child:hover {
    color: var(--shaded-color-6);
    background-color: var(--warning-color);
}

/* content channels */

#content-categories {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--shaded-color-0) rgba(255, 255, 255, 0);
    height: calc(100vh - 45px - var(--banner-height));
}

.content-category {
    font-size: 16px;
    text-align: left;
}

.category-name {
    margin-top: 15px;
    padding-left: 5px;
    color: var(--primary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.category-name:hover {
    color: var(--shaded-color-6);
    cursor: pointer;
}

.category-name p {
    width: 200px;
    padding-left: 5px;
    text-align: left;
    color: var(--primary-color);
}

.category-name:hover p {
    color: var(--shaded-color-6);
}

.add-channel-icon {
    position: relative;
    right: 0;
    margin-right: 15px;
}

.category-channel {
    height: 30px;
    padding-right: 5px;
    color: var(--shaded-color-5);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category-channel p {
    width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: normal;
    color: (var(--shaded-color-5));
}

#text-channels .category-channel {
    padding-left: 19px;
}

#voice-channels .category-channel {
    padding-left: 15px;
}

#direct-message-channels .category-channel {
    padding-left: 18px;
}

#text-channels .category-channel p {
    margin-left: 6px;
}

#voice-channels .category-channel p {
    margin-left: 13px;
}

#direct-message-channels .category-channel p {
    margin-left: 14px;
}

.category-channel:hover {
    color: var(--shaded-color-6);
    background-color: var(--shaded-color-3a);
    cursor: pointer;
}

.category-channel p {
    font-weight: bold;
}

.add-channel-icon:hover {
    background-color: var(--shaded-color-4);
    border-radius: 5px;
}

#active-channel {
    color: var(--shaded-color-6);
    background-color: var(--primary-color);
}

.text-channel-prefix {
    font-size: 20px;
    margin-right: 15px;
}

.direct-message-channel-prefix {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 2px;
}

/* current logged in user information */

#current-user {
    height: 45px;
    width: 230px;
    color: var(--shaded-color-5a);
    background-color: var(--shaded-color-1);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
}

#current-user>* {
    margin-left: 10px;
}

#current-user>*:first-child {
    margin-left: 0px;
}

#current-user img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
}

#current-user p {
    margin-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#current-user span {
    position: absolute;
    right: 0;
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
}

#current-user span:hover {
    background-color: var(--shaded-color-4);
    cursor: pointer;
}

#current-user-settings-button {
    height: 100%;
    display: flex;
    align-items: center;
}

#current-user-settings-button:hover {
    cursor: pointer;
}

#current-user-settings-dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 87%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 77px;
    padding: calc(0.05 * (250px / 2));
    background-color: var(--shaded-color-1a);
}

#current-user-settings-dropdown>button {
    width: 100%;
    margin-bottom: 77px;
    color: var(--shaded-color-6);
    background-color: var(--shaded-color-1a);
    border: none;
    border-radius: 5px;
    margin: 0px;
    padding-left: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

#current-user-settings-dropdown>button:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: var(--warning-color);
}

#current-user-settings-dropdown>button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

#current-user-settings-dropdown>button:last-child:hover {
    color: var(--shaded-color-6);
    background-color: var(--warning-color);
}